node_modules
**/node_modules
.pnpm-store
.npm
.yarn

dist
build
.next
out
bin
obj
*.tsbuildinfo

.env
.env.*
!.env.example
*.pem
*.key
*.pub
.vault

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

.git
.github
.gitlab
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

README.md
LICENSE
.gitignore
docker-compose*.yml
Dockerfile*
